/* Styles */
#app {
  font: 14px 'Helventica Neue', Helventica, Arial, san-sarif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 1024px;
  margin: 0 auto;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}
